
@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .border-grid{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
  }

  .v-label-titre {
     background: black;
     color: white;
     font-size: 24pt;
     line-height: 24pt;
     padding: 5px;
   }

  .v-label-titrewindow{
    color: blue;
    font-size: 18pt;
    line-height: 18pt;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    padding: 5px;
  }

  .v-label-question {
    background: black;
    color: white;
    font-size: 12pt;
    line-height: 12pt;
    padding: 6px;
  }


  .v-label-formulaire {
      color: blue;
      font-size: 12pt;
      line-height: 12pt;
      font-weight: bold;
      padding: 5px;
    }

  .v-textfield-formulaire {
    color: blue;
    font-size: 12pt;
    line-height: 12pt;
    font-weight: bold;
    padding: 5px;
  }

  .v-caption-inline-label{
    display: inline-block;
    color: blue;
    font-size: 12pt;
    line-height: 12pt;
    font-weight: bold;
    padding: 5px;
  }

  // Insert your own theme rules here
}
